@font-face {
	font-family: "Gilroy";
	font-weight: normal;
	font-style: normal;
	src:
		local("Gilroy Light"),
		url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 700;
	font-style: normal;
	src:
		local("Gilroy ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	src:
		local("Open Sans Light"),
		url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
	font-family: "Open Sans";
	font-weight: normal;
	font-style: normal;
	src:
		local("Open Sans"),
		url("../fonts/opensans.woff2") format("woff2");
}

html,
body {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
	font-weight: 300;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.content-container {
	width: 1040px;
	margin: 0 auto;
}

.main-header {
	margin-top: 22px;
	margin-left: 10px;
	margin-right: 10px;
}

.main-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	min-height: 168px;
	padding: 0 60px;

	line-height: 36px;
	color: black;

	background-color: #f7e296;
}

.logo-title {
	width: 164px;
	height: 36px;
	margin-left: 60px;
}

.main-header .logo-title::before {
	content: "";

	position: absolute;
	z-index: -1;

	width: 1160px;
	height: 18px;
	margin-top: 18px;
	margin-left: -60px;

	background-color: #f7e296;
}

.logo-title a:hover {
	opacity: 0.6;
}

.logo-title a:active {
	opacity: 0.3;
}

.search-wrap {
	position: relative;

	display: flex;
	align-items: center;
	width: 440px;
	margin-top: 15px;
}

.search {
	position: relative;
}

.search::before {
	content: "";

	position: absolute;
	top: 18px;

	width: 16px;
	height: 16px;
	margin-right: 20px;
	margin-left: 3px;
	padding: 0;

	line-height: 36px;

	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
}

.button-search::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;

	width: 99%;
	height: 2px;

	background-color: #000000;
}

.search input {
	width: 312px;
	height: 49px;
	margin-left: 38px;
	padding: 0;

	font: inherit;

	background-color: transparent;
	border: 0;
	outline: 0;
	opacity: 0.3;
}

.search input:hover {
	opacity: 0.6;
}

.search input:focus {
	opacity: 1;
}

.button-search {
	display: none;
	width: 85px;
	height: 49px;

	font: inherit;
	line-height: 36px;
	color: #000000;

	background-color: transparent;
	border: 2px solid #000000;
	cursor: pointer;
}

.button-search:hover {
	color: #ffffff;

	background-color: #000000;
}

.button-search:active {
	color: rgba(255, 255, 255, 0.3);
}

.search input:focus + .button-search {
	display: inline-block;
}

.user-menu,
.site-menu,
.submenu {
	list-style: none;
}

.user-menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 500px;
	margin-top: 22px;
	margin-bottom: 0;
	padding: 0;
}

.user-menu li {
	position: relative;
	padding-left: 26px;
	margin-right: 38px;
}

.user-menu li:first-child {
	margin-right: auto;
	margin-left: 0;
}

.user-menu li:last-child {
	margin-right: 0;
}

.user-menu .user-item-exit {
	padding: 0;
	margin-left: -38px;
	margin-right: auto;
}

.login-in::before,
.compare::before,
.basket::before {
	content: "";

	position: absolute;

	width: 13px;
	height: 13px;

	background-repeat: no-repeat;
}

.login-in::before {
	top: 12px;
	left: 0;

	background-image: url("../img/user.svg");
}

.compare::before {
	top: 14px;
	left: 7px;

	background-image: url("../img/compare.svg");
}

.basket::before {
	top: 12px;
	left: 3px;

	background-image: url("../img/cart.svg");
}

.login-out {
	opacity: 0.3;
}

.site-menu {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 1040px;
	width: 1040px;
	margin-top: 24px;
	padding: 0;
}

.site-menu .site-menu-catalog {
	position: relative;

	margin-left: -1px;
	margin-right: auto;
}

.site-menu > li {
	margin-right: 34px;
}

.site-menu > li:last-child {
	margin-left: 74px;
	margin-right: -3px;
}

.site-menu-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	text-align: end;
}

.site-menu-catalog a::before,
.site-menu-catalog a::after {
	content: "";

	position: absolute;
	top: 17px;
	right: -28px;

	width: 16px;
	height: 2px;

	background-color: #b8a974;
}

.site-menu-catalog a::after {
	transform: rotate(90deg);
}

.submenu-wrap {
	position: absolute;
	left: -59px;

	display: none;
	width: 1160px;
	min-height: 157px;
	padding: 0;

	background-color: #f7e296;
	overflow: hidden;
}

.submenu {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 640px;
	margin-top: 15px;
	padding-left: 60px;
}

.submenu-item-vr,
.submenu-item-selfie,
.submenu-item-camera {
	width: 240px;
}

.submenu-item-fitnes,
.submenu-item-watch {
	width: 200px;
}

.user-menu-link,
.site-menu-link,
.submenu-link {
	color: #000000;
}

.user-menu-link:hover,
.site-menu-link:hover,
.submenu-link:hover {
	opacity: 0.6;
}

.user-menu-link:active,
.site-menu-link:active,
.submenu-link:active {
	opacity: 0.3;
}

.site-menu-catalog:hover .submenu-wrap {
	z-index: 1;

	display: block;
}

.page-title,
.slider-title,
.service-title,
.info-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	line-height: 1.2;
	color: #000000;
	font-weight: 700;
}

.slider {
	position: relative;
	width: 1160px;
	min-height: 508px;
}

.slider::before {
	content: "";

	position: absolute;
	z-index: -1;

	width: 1160px;
	height: 113px;

	background-color: #f7e296;
}

.slider::after {
	content: "";

	position: absolute;
	top: 39px;
	right: 460px;

	width: 100px;
	height: 7px;

	background-color: #ffffff;
}

.slider-wrap {
	display: none;
	align-items: flex-start;
}

.slider-selfie::before,
.slider-fitness::before,
.slider-quadcopter::before {
	position: absolute;
	top: -13px;
	right: 46px;
	z-index: -1;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 179.2px;
	line-height: 179.2px;
	letter-spacing: 0.01em;
	color: #ffffff;
	font-weight: 700;
}

.slider-selfie::before {
	content: "01"
}

.slider-fitness::before {
	content: "02"
}

.slider-quadcopter::before {
	content: "03"
}

.slider-img {
	width: 599px;
}

.slider-selfie-img {
	width: 384px;
	height: 486px;
	margin-top: 2px;
	margin-left: 90px;
}

.slider-fitness-img {
	width: 345px;
	height: 485px;
	margin-top: 14px;
	margin-left: 116px;
}

.slider-quadcopter-img {
	width: 526px;
	height: 334px;
	margin-top: 67px;
	margin-left: 31px;
}

.slider-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;	
	width: 560px;
}

.slider-title {
	margin-top: 81px;
	margin-bottom: 0;
}

.slider-description {
	width: 481px;
	margin-top: 19px;
	margin-bottom: 0;
	padding: 0;
}

.button {
	display: inline-block;
	height: 30px;
	padding-top: 10px; 

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;

	background-image: linear-gradient(to bottom, 
		transparent 16px, 
		#f0c52e 16px, 
		#f0c52e 24px, 
		transparent 24px);
}

.button:hover {
	background-color: #f0c52e;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.slider-more {
	width: 220px;
	margin-top: 43px;
	margin-left: 1px;
}

.slider-table {
	margin-top: 53px;
	margin-bottom: 0;

	border-collapse: collapse;
}

.slider-table-features {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 36px;
	line-height: 1.2;
	color: #000000;
	font-weight: normal;
}

.slider-table-features td {
	width: 160px;
	padding: 0;
}

.slider-table-features td:nth-child(2) {
	width: 140px;
}


.slider-table-title th {
	padding: 9px 0 0 0;

	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	text-align: left;
}

.slider-controls {
	position: absolute;
	bottom: 167px;
	right: 83px;

	display: flex;
	justify-content: space-between;
	width: 78px;
}

.slider-controls label {
	position: relative;

	width: 10px;
	height: 10px;

	font-size: 0;

	background-color: transparent;
	border: 1px solid #000000;
	border-radius: 50%;
}

.slider-controls label:hover {
	cursor: pointer;
}

.slider-controls label::before {
	content: "";

	position: absolute;
	top: 2px;
	left: 2px;

	display: none;
	width: 4px;
	height: 4px;

	border: 1px solid #000000;
	border-radius: 50%;

}

.slider-selfie-radio:checked ~ .slider-controls .slider-selfie-label::before,
.slider-fitness-radio:checked ~ .slider-controls .slider-fitness-label::before,
.slider-quadcopter-radio:checked ~ .slider-controls .slider-quadcopter-label::before {
	display: block;
}

.slider-selfie-radio:checked ~ .slider-selfie,
.slider-fitness-radio:checked ~ .slider-fitness,
.slider-quadcopter-radio:checked ~ .slider-quadcopter {
	display: flex;
}

.page-title-wrap {
	margin-left: 60px;
	margin-top: 32px;
}

.page-title {
	margin-bottom: 0;
}

.breadcrumbs {
	display: flex;
	margin-top: 16px;
	margin-bottom: 0;
	padding: 0;

	list-style: none;
}

.breadcrumbs li {
	position: relative;

	margin-right: 37px;
}

.breadcrumbs li:not(:first-child)::before {
	content: "";

	position: absolute;
	top: 15px;
	left: -23px;
	
	width: 4px;
	height: 4px;

	background-color: transparent;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;

	transform: rotate(-45deg);
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.3);
	font-weight: 300;
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.box-title {
	margin: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog-wrap {
	position: relative;

	display: flex;
	min-height: 1287px;
	margin-top: 38px;
}

.catalog-wrap::before {
	content: "";

	position: absolute;
	top: 1px;
	z-index: -1;

	width: 100%;
	height: 70px;

	background-color: rgba(0, 0, 0, 0.08);
}

.filter {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-grow: 1;
	flex-basis: 328px;

	background-color: rgba(0, 0, 0, 0.08);
}

.filter-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 328px;
}

.filter-item {
	width: 200px;
	margin-left: 60px;
}

.filter-title-wrap {
	display: flex;
	align-items: center;
	min-height: 70px;
}

.filter-price {
	min-height: 140px;
	margin-top: 70px;
}

.filter-color {
	min-height: 285px;
}

.filter-bluetooth {
	min-height: 126px;
}

.filter-button {
	display: inline-block;
	height: 40px;
	width: 200px;
	margin-top: 31px;
	padding: 0;

	cursor: pointer;
}

.filter-form .filter-button:hover {
	background-color: #f0c52e;
}

.filter-line {
	height: 2px;
	margin: 0;

	background-color: #000000;
	border: none;
}

.filter-form {
	padding-right: 1px;
}

.filter-fieldset {
	padding: 0;

	border: 0;
}

.fieldset-wrap {
	position: relative;

	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.filter-input,
.filter-label {
	cursor: pointer;
}

.filter-item-title {
	position: relative;
	left: -3px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	font-weight: 700;
}

.filter-label {
	font: inherit;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
	font-weight: 300;
}

.filter-checkbox-title,
.filter-radio-title {
	margin-left: 36px;
}

.filter-checkbox-title:first-of-type,
.filter-radio-title:first-of-type {
	margin-top: 19px;
}

.filter-checkbox-title::before {
	content: "";

	position: absolute;
	left: -4px;

	margin-top: 8px;
	width: 19px;
	height: 19px;

	background-color: transparent;
	border: 2px solid #000000;
	border-radius: 3px;
}

.filter-checkbox:checked + .filter-checkbox-title::after {
	content: "";

	position: absolute;
	left: 1px;

	margin-top: 9px;
	width: 17px;
	height: 7px;

	background-color: transparent;
	border-left: 4px solid #000000;
	border-bottom: 4px solid #000000;
	border-radius: 0px;

	transform: rotate(-45deg);
}

.filter-radio-title::before {
	content: "";

	position: absolute;
	left: -4px;

	margin-top: 6px;
	width: 17px;
	height: 17px;

	background-color: transparent;
	border: 4px solid #000000;
	border-radius: 50%;
}

.filter-radio-item:checked + .filter-radio-title::after {
	content: "";

	position: absolute;
	left: 4px;

	margin-top: 14px;
	width: 9px;
	height: 9px;

	background-color: #000000;
	border-radius: 50%;
}

.filter-checkbox-title:hover::before,
.filter-checkbox-title:hover::after,
.filter-radio-title:hover::before,
.filter-radio-title:hover::after {
	opacity: 0.6;
}

.filter-input:disabled + .filter-label {
	opacity: 0.25;
}

.catalog {
	display: flex;
	flex-direction: column;
	margin-left: 72px;
	flex-grow: 1;
	flex-basis: 760px;
}

.catalog-sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 760px;
	min-height: 70px;
}

.sort-list {
	display: flex;
	flex-wrap: wrap;

	width: 560px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.sort-list-link {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: 300;
	opacity: 0.3;
}

.sort-list-link:hover {
	opacity: 0.6;
}

.sort-list-link:active {
	opacity: 1;
}

.sort-ending {
	opacity: 0.2;
}

.sort-ending:hover {
	opacity: 0.4;
}

.sort-link-current {
	opacity: 1;
}

.sort-up {
	position: relative;
	bottom: 14px;

	width: 0;
	height: 0;
	margin-right: 18px;

	border-bottom: 10px solid #000000;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.sort-down {
	position: relative;
	top: 15px;

	width: 0;
	height: 0;

	border-top: 10px solid #000000;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.sort-list li:not([class*="ending"]) {
	margin-right: 30px;
}

.sort-popularity {
	margin-right: 0;
}

.sort-type {
	margin-right: 0;
}

.sort-price {
	margin-left: 1;	
}

.sort-item-up {
	margin-left: auto;
}

.catalog-content {
	display: flex;
	flex-wrap: wrap;
	width: 760px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;

	list-style: none;
}

.catalog-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	width: 360px;
	margin-top: 53px;
}

.catalog-item-image {
	position: relative;
}

.catalog-buttons-hidden {
	position: absolute;
	top: 172px;
	left: 81px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.catalog-buttons-hidden .button {
	width: 200px;
}

.catalog-item-image:hover .catalog-buttons-hidden {
	opacity: 1;
}

.catalog-item-image:hover img {
	opacity: 0.7;
}

.catalog-item h3 {
	order: 1;
	margin: 25px 0 0 0;
	line-height: 10px;
}

.catalog-item-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	font-weight: 700;
}

.add-compare {
	margin-top: 6px;

	font-size: 13px;
	line-height: 36px;
	color: #000000;
	font-weight: 300;
	opacity: 0.5;
}

.add-compare:hover {
	opacity: 1;
}

.add-compare:active {
	opacity: 0.2;
}

.catalog-item-price {
	order: 2;

	margin-top: 26px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #464646;
	font-weight: normal;
}

.pagination {
	margin-top: 23px;
	width: 760px;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	min-height: 70px;

	list-style: none;

	background-color: #ebebeb;
}

.pagination-number {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.pagination-back,
.pagination-forward {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 126px;
}

.pagination a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.2em;
	font-weight: 700;
	text-transform: uppercase;
}

.pagination-number-item:not(:last-of-type) {
	margin-right: 28px;
}

.pagination-number-link {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-number-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-number-link:active {
	color: #000000;
}

.pagination-back a,
.pagination-forward a{
	color: #000000;
}

.pagination-back a:active,
.pagination-forward a:active {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-back:hover,
.pagination-forward:hover {
	background-color: #d9d9d9;
}

.pagination-back:active,
.pagination-forward:active {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
	color: #000000;
}

.popular {
	min-height: 250px;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 86px 0 0 0;
	padding: 0;

	list-style: none;
}

.popular-list li {
	width: 160px;
}

.popular-item {
	display: block;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	font-weight: 700;
}

.popular-item::before {
	content: "";

	display: block;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;

	background-color: #f7e296;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.popular-vr::before {
	background-image: url("../img/popular-1.svg");
	background-position: 31px 52px;
}

.popular-selfie::before {
	background-image: url("../img/popular-2.svg");
	background-position: 38px 41px;
}

.popular-camera::before {
	background-image: url("../img/popular-3.svg");
	background-position: 49px 38px;
}

.popular-fitness::before {
	background-image: url("../img/popular-4.svg");
	background-position: 28px 50px;
}

.popular-watch::before {
	background-image: url("../img/popular-5.svg");
	background-position: 55px 32px;
}

.popular-quadcopter::before {
	background-image: url("../img/popular-6.svg");
	background-position: 13px 49px;
}

.popular-item:hover::before {
	background-color: #f0c52e;
}

.popular-item:active {
	opacity: 0.3;
}

.service {
	position: relative;
}

.service::before {
	content: "";

	position: absolute;
	top: 30px;
	z-index: -1;
	
	width: 100%;
	height: 100%;
	
	background-color: #e5e5e5;
}

.service-wrap {
	display: flex;
	min-height: 288px;
	margin-top: 142px;
}

.service-list {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-start;
	width: 280px;
	min-height: 169px;
	margin: 10px 121px 0 0;
	padding: 0;

	list-style: none;
}

.service-list::before {
	content: "";

	position: absolute;
	top: -80px;
	right: -4px;

	width: 7px;
	height: 319px;

	background-color: #000000;
}

.service-list li {
	min-height: 40px;
}

.service-list .button {
	width: 160px;
	vertical-align: bottom;

	text-transform: uppercase;

	cursor: pointer;
}

.service-delivery-radio:checked ~ .service-list .service-delivery-item,
.service-warrantly-radio:checked ~ .service-list .service-warrantly-item,
.service-credit-radio:checked ~ .service-list .service-credit-item {
	background-color: #000000;
}

.service-delivery-radio:checked ~ .service-list .delivery-link,
.service-warrantly-radio:checked ~ .service-list .warrantly-link,
.service-credit-radio:checked ~ .service-list .credit-link {
	color: #f7e184;

	background-color: #000000;
	background-image: none;
	opacity: 1;
}

.service-list .button:active {
	color: #f7e184;

	background-color: #000000;
	background-image: none;
	opacity: 1;
}

.delivery,
.warrantly,
.credit {
	position: relative;

	display: none;
	width: 700px;
}

.delivery::before {
	content: "";

	position: absolute;
	top: 15px;
	right: 7px;

	width: 136px;
	height: 164px;

	background-image: url(../img/delivery.svg);
	background-repeat: no-repeat;
}

.warrantly::before {
	content: "";

	position: absolute;
	top: -9px;
	right: -13px;

	width: 171px;
	height: 195px;

	background-image: url(../img/warrantly.svg);
	background-repeat: no-repeat;
}

.credit::before {
	content: "";

	position: absolute;
	top: -9px;
	right: 11px;

	width: 156px;
	height: 188px;

	background-image: url(../img/credit.svg);
	background-repeat: no-repeat;
}

.service-title {
	margin: 0;
}

.service-text {
	width: 435px;
	margin-top: 26px;
}

.service-delivery-radio:checked ~ .service-content .delivery,
.service-warrantly-radio:checked ~ .service-content .warrantly,
.service-credit-radio:checked ~ .service-content .credit {
	display: block;
}

.brands {
	min-height: 100px;
	margin-top: 124px;
}

.brands-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 1160px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.brands-item {
	width: 260px;
	height: 100px;
}

.brands-link {
	position: relative;
}

.brands-img {
	position: absolute;
}

.brands-img:last-child {
	display: none;
}

.brands-item:hover .brands-img:last-child {
	display: block;
}

.info {
	position: relative;

	display: flex;
	min-height: 525px;
	margin-top: 141px;
}

.about,
.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about {
	width: 600px;
}

.contacts {
	width: 560px;
}

.about::before,
.contacts::before {
	content: "";

	position: absolute;

	width: 80px;
	height: 7px;
	background-color: #000000;
}

.about::before {
	top: -48px;
	left: 0;
}

.contacts::before {
	top: -48px;
	left: 600px;
}

.info-title {
	margin-top: 0;
	margin-bottom: 24px;
	margin-left: -1px;
}

.about .info-text {
	width: 485px;
}

.transport-list {
	margin-top: 51px;
	margin-bottom: auto;
	padding: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
	font-weight: 700;

	list-style: none;
}

.transport-list li {
	position: relative;

	padding-left: 35px;
}

.transport-list li::before {
	content: "";

	position: absolute;
	top: 17px;
	left: 1px;

	width: 5px;
	height: 5px;

	background-color: transparent;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
}

.contacts-map {
	margin-top: 24px;
}

.info-button {
	width: 260px;
	margin-top: auto;
	margin-bottom: 0;
}

.main-footer {
	min-height: 323px;
	margin-top: 82px;

	color: #ffffff;

	background-color: #464646;
}

.footer {
	margin: 0;
}

.main-footer .container {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.footer-top,
.footer-middle,
.footer-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.footer-top {
	margin-top: 60px;
}

.footer-top .logo-title {
	margin-top: 5px;
	margin-left: -1px;
}

.footer-user-menu {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.footer-user-menu li {
	position: relative;

	margin-left: 62px;
}

.footer-user-menu,
.footer-menu,
.footer-social {
	list-style: none;
}

.footer-login-link,
.footer-compare,
.footer-basket {
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-login-out {
	line-height: 36px;
	color: rgba(255, 255, 255, 0.3);
}

.footer-profile-item {
	margin-right: -38px;
}

.footer-user-menu a:hover {
	color: #ffffff;
	opacity: 0.7;
}

.footer-user-menu a:active {
	opacity: 0.3;
}

.footer-login-link::before,
.footer-compare::before,
.footer-basket::before {
	content: "";

	position: absolute;
	
	width: 13px;
	height: 13px;

	background-repeat: no-repeat;
}

.footer-login-link::before {
	top: 12px;
	left: -27px;
	background-image: url("../img/user-footer.svg");
}

.footer-compare::before {
	top: 14px;
	left: -20px;
	background-image: url("../img/compare-footer.svg");
}

.footer-basket::before {
	top: 12px;
	left: -21px;
	background-image: url("../img/cart-footer.svg");
}

.footer-middle {
	width: 100%;
	margin-top: 29px;
}

.footer-contacts {
	width: 360px;
	margin: 0;
}

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 440px;
	margin: 0;
	padding: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.2em;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-menu li:first-child {
	margin-left: 7px;
}

.footer-menu li:last-child {
	margin-right: 5px;
}

.footer-menu a {
	color: #ffffff;
}

.footer-menu a:hover {
	opacity: 0.6;
}

.footer-menu a:active {
	opacity: 0.3;
}

.footer-phone {
	width: 360px;
	margin: 0;

	text-align: right;
}

.footer-bottom {
	justify-content: flex-end;
	width: 100%;
	margin-top: 56px;
}

.footer-bottom::before {
	content: "";

	position: absolute;
	bottom: 22px;
	left: 0;

	width: 80px;
	height: 7px;

	background-color: #ffc600;
}

.footer-social {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 162px;
	min-height: 32px;
	margin-top: 2px;
	margin-right: 471px;
	margin-bottom: 0;
	padding: 0;

	background-repeat: no-repeat;
	opacity: 0.3;
}

.footer-social li:hover {
	opacity: 0.6;
}

.footer-social li:active {
	opacity: 0.1;
}

.social-fb::before,
.social-instagramm::before,
.social-twitter::before {
	content: "";

	display: block;
	width: 33px;
	height: 33px;

	background-repeat: no-repeat;
	cursor: pointer;
}

.social-fb::before {
	background-image: url("../img/fb.svg");
}

.social-instagramm::before {
	background-image: url("../img/instagram.svg");
}

.social-twitter::before {
	background-image: url("../img/twitter.svg");
}

.copyright:hover {
	opacity: 0.6;
}

.copyright:active {
	opacity: 0.3;
}

.write-us-form label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000000; 
	font-weight: 700;
}

.write-us-form input,
.write-us-form textarea {
	font: inherit;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	opacity: 0.4;

	background-color: rgba(229, 229, 229, 0.5);
	border: 0;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
	background-color: rgba(229, 229, 229, 0.8);
}

.write-us-form input:focus,
.write-us-form textarea:focus {
	background-color: rgba(255, 255, 255, 0.5);
	outline: 3px solid rgba(240, 194, 46, 0.5);
}

/*.write-us-form input:invalid,
.write-us-form textarea:invalid {
	background-color: rgba(237, 181, 181, 0.5);
}*/

.button[type="submit"],
.popup-close {
	background-color: transparent;
	border: 0;
}